{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
<style>
    p {
        width: 50%;
        justify-content: left;
        font-size: 26px;
        font-family: "Venir";
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<br>
<br>
<h1 align="center" style="color: white;"> My Profile </h1>
<div class="container">
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-light" style="padding: 5px; background-color: transparent; color: white; margin-right: 10px;">Logout</button></a>
    <br>
    <br>
    <p style="color: white;">USERNAME: {{user.username}}</p>
    <p>FIRST NAME: {{user.first_name}}</p>
    <p>LAST NAME: {{user.last_name}}</p>
    <p>USER EMAIL: {{user.email}}</p>
    <p>BIO: {{ user.userprofile.bio}}</p>
    <p>INTERESTS: {{ user.userprofile.interests}}</p>
</div>

{% endblock %}